<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271382473784-lca6lf7ts1grfn01jfh8gjdub3d8s7va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271382473784-lca6lf7ts1grfn01jfh8gjdub3d8s7va</string>
	<key>API_KEY</key>
	<string>AIzaSyDxHOTvCuyu_mes2oSTnPuBa08c-B9YV08</string>
	<key>GCM_SENDER_ID</key>
	<string>271382473784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.books</string>
	<key>PROJECT_ID</key>
	<string>hamronovel</string>
	<key>STORAGE_BUCKET</key>
	<string>hamronovel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271382473784:ios:f56c9755cc90919911cacd</string>
</dict>
</plist>